.containerModa{
    display: flex;
    flex-direction: column;
    width: 90rem;
    height: 45rem;
    margin-left: 16%;
    justify-content: center;
    align-items: center;
    color: #000;
    background: linear-gradient( to top right, #04003f, #3f0000);
}
.containerModaTitulo{
    display: flex;
    position: relative;
    color: #fff;
    font-size: 2rem;
    top: -8rem;
}
.containerModaInfo {
   width: 90%;
   color: #fff;
   text-align: center;
}